/* Разрешить членам группы wheel выполнять любые действия
 * без проверки пароля, аналогично "sudo NOPASSWD:"
 */
polkit.addRule(function(action, subject) {
    if (subject.isInGroup("wheel")) {
        return polkit.Result.YES;
    }
});